@import 'variables';
@import 'reset';

:root {
  font-size: $root-font-size;
}
body {
  font-size: 10px;
}
img{
  max-width: 100%;
}
.header{
  background-color: $blackColor;
  @media(min-width:700px){
    width: 100%;
  }
  &__logo {
    width: 70px; 
  }
  &-button{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
  background-color: $whiteColor;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
  &__logo {
    display: flex;
    margin: 1em 0;
    width: 100%;
    justify-content: space-between; 
    @media(min-width:700px){
    display: block;
    width: auto;
    } 
  }
  &__burger {
    display: block;
  @media(min-width:700px){
    display: none;
    }
  }
  .change {
    .bar1 {
      transform: translate(0, 11px) rotate(-45deg);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      transform: translate(0, -11px) rotate(45deg);
    }
  }
  }

.nav{
  @include boldFont;
  font-size: 1.6rem;
  margin: 1em 0 ;
  display: none;
  @media (min-width:700px){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0.5em 0 ;
    width: 100%;
  }
  @media (min-width:1000px){
    font-size: 1.8rem;
  }

  &__visible {
    display: block;
  }

  &__list {
    list-style: none;
    margin:0;
    padding:0;
    @media (min-width:700px){
      display: flex;
    } 
  }

    &__list--primary{
    margin-bottom:1.5em;
    @media (min-width:700px){
     margin:0;
    }
  }
  
  &__list--secondary{
    @media (min-width:700px){
    margin-left: 1em;}
  }

  &__item{
    text-align: center;
    margin-bottom: 0.5em;
    @media (min-width:700px){
      margin-left: 1em;
    }
  }

  &__link{
  text-decoration: none;
  color: $whiteColor;
  text-transform: uppercase;
  &--button{
    @include buttonStyles;
    @media (min-width:700px){
      transition: 0.3s;
    }
    &:hover{
      background-color: #d97e22;
    }
  }
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width:700px){
  display: flex;
  flex-direction: row;
  }
}

.hero {
  background-color: $grayColor;
  padding: 3em 0;
  min-height: 400px;
  &__title {
    margin-bottom:1em;
    font-size: 4rem;
    color:$whiteColor;
    text-align: center;
    @include boldFont;
  }
  &__title--gold{
    color: $goldColor;
  }
  &__text {
    color: $whiteColor;
    font-size: 2rem;
    font-family: $regularFont;
    margin-bottom: 3em;
  }
  &--button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $boldFont;
    font-size: 2rem;
    color: $whiteColor;
    text-align: center;
    @include buttonStyles;
    @media (min-width:700px){
      transition: 0.3s; 
    }
    &:hover{
      background-color: #d97e22;
    }
  }
  
}
.col {
  text-align: center;
}
.first-section{
  background-color: rgb(242, 240, 240);
  padding: 2em 0;
  &__title{
    color: $goldColor;
    font-size: 2.4rem;
    margin-bottom: 0.5em;
    @include boldFont;
  }
  &__text {
    color: $blackColor;
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    font-family: $regularFont;
    
  }
}
.second-section{
  padding: 2em 0;
  &__title{
    color: $goldColor;
    font-size: 2.6rem;
    margin-bottom: 0.5em;
    @include boldFont;
  }
  &__text{
    color:$blackColor;
    margin: 1.5em 0;
    font-family: $regularFont;
    font-size: 2rem;
  }
}

.aside{
  background-color: $grayColor;
  margin: 2em 0;
  color: $whiteColor;
  padding: 2em;

  &__title{
    font-size: 2.2rem;
    margin-bottom: 0.5em;
    @include boldFont;
  }
  &__text{
    font-family: $regularFont;
    font-size: 1.6em ;
  }
}

.third-section{
  background-color: $grayColor;
  padding: 2em 0;
  &__title {
    color: $whiteColor;
    font-size: 2.4rem;
    margin-bottom: 1em;
    text-align: center;
    @include boldFont; 
  }
}

.sub-section{
  &__title{
    @include boldFont;
    color:$goldColor;
    margin-bottom: .5em;
  }
  &__text{
    color: $veryLightGray;
    font-family: $regularFont;
    font-size: 1.4rem;
    margin-bottom:1em;
    padding:0 4em;
  }
}
.sub-section-two{
  padding: 0 2em;
  &__text{
    @include boldFont;
    color: $goldColor;
    margin:1em 0;
  }
  &__list{
    list-style: none;
    margin:0;
    padding:0;
  }
  &__item{
    text-align: center;
    margin-bottom: 0.5em;
  }
  &__link{
    text-decoration: none;
    color: $veryLightGray;
    font-family: $regularFont;
    font-size: 1.4rem;
  }
}